body {
    background-color: black;
    color: #FFFFFF;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 24px;
}

a {
    color: #8AB4F8;
}
a:visited {
    color: #C58AF9;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul {
    list-style: none;
}

li {
    padding: 10px;
}

h1 {
    text-align: center;
}

p {
    margin-left: 300px;
    margin-right: 300px;
}

.gallery {
    width: 400px;
    margin: 50px;
}

#gallery-container {
    display: flex;
    justify-content: center;
}

.illustration {
    width: 600px;
}

#bat-image {
    width: 600px;
}

li {
    color: white;
}