body {
    background-color: #121212;
    color: #FFFFFF;
    font-family:Arial, Helvetica, sans-serif;
}

a {
    color: #8AB4F8;
}
a:visited {
    color: #C58AF9;
}

#navigation {
    display: flex;
    flex-direction: row;
}

ul {
    list-style: none;
}

li {
    padding: 10px;
}

h1 {
    text-align: center;
}

p {
    margin-left: 300px;
    margin-right: 300px;
}

.gallery {
    width: 400px;
}

#gallery-container {
    display: flex;
    
}